/* Định dạng chung cho header */
.header {
  position: fixed !important; /* Đảm bảo navbar cố định */
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #ddd; /* Đường viền dưới */
  z-index: 1000;
  transition: left 0.3s ease;
}

/* Định dạng cho biểu tượng menu */
.menu-icon {
  font-size: 24px;
  cursor: pointer;
}

/* Định dạng cho thông báo người dùng */
.user-notifications {
  display: flex;
  align-items: center;
}

.notifications {
  display: flex;
  align-items: center;
  margin-right: 20px; /* Khoảng cách giữa notifications và user */
}

.notification {
  position: relative;
  margin-left: 20px;
}

/* Định dạng badge cho thông báo */
.head__right .dropdown-toggle .badge {
  position: absolute;
  top: -5px;
  right: -10px;
  background-color: red; /* Màu nền badge */
  color: white; /* Màu chữ */
  border-radius: 50%;
  padding: 2px 6px;
  font-size: 12px;
}

/* Định dạng cho người dùng */
.user {
  display: flex;
  align-items: center;
}

.user i {
  font-size: 24px;
  margin-right: 8px;
}

/* Ẩn mũi tên dropdown */
.head__right .dropdown-toggle::after {
  display: none;
}

/* Định dạng cho item trong header */
.head__right .box__item {
  color: rgba(0, 0, 0, 0.548); /* Màu chữ cho item */
  transition: 0.3s;
}

/* Hiệu ứng hover cho item */
.head__right .box__item:hover {
  background: #00000011; /* Màu nền khi hover */
}

/* Định dạng cho item mới */
.head__right .box__item.new {
  color: black;
  background: #00000011; /* Màu nền cho item mới */
}
