@import url("./sidebar.css");
@import url("./header.css");
@import url("./footer.css");

.right__box {
  max-width: 100%;
  box-sizing: border-box; /* Bao gồm padding và border trong phép tính chiều rộng */
  position: relative;
  flex-grow: 1; /*  Phần right__box sẽ chiếm toàn bộ không gian còn lại */
  transition: margin-left 0.3s ease;
  margin-left: 0; /* Giá trị mặc định */
}

.right__box.with-sidebar {
  margin-left: 250px; /*  Dịch chuyển sang phải khi sidebar mở */
}

.light__text {
  color: #595d6e;
  font-size: 14px;
}

.main {
  min-height: calc(
    100vh - 68px - 53px
  ); /* Chiều cao viewport trừ header và footer */
  display: flex;
  justify-content: center;
  margin-top: 66px;
  box-sizing: border-box; /* Bao gồm padding và border trong phép tính chiều rộng */
}

/* Tùy chỉnh thanh cuộn */
.custom-scrollbar {
  overflow-y: scroll; /* Chỉ hiển thị thanh cuộn dọc */
  scrollbar-width: thin; /* Đối với Firefox */
  scrollbar-color: #58525260 #1a1a1a00; /* Màu con lăn và màu nền của thanh cuộn */
}

.form-profile .tab-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
